{% load static %}
<header class="retro-header">
    <div class="header-decoration-left">
        <img src="{% static 'images/retro-computer.svg' %}" alt="Retro Computer" class="header-computer-img">
    </div>
    <div class="header-center">
        <h1 class="site-title">{{ site_settings.site_name|default:"PC Ramduhawma's Homepage" }}</h1>
        <p class="site-tagline">{{ site_settings.tagline|default:"Thoughts. Code. Life." }}</p>
        <p class="site-welcome">{{ site_settings.welcome_message|default:"Welcome to my corner of the internet!" }}</p>
    </div>
    <div class="header-decoration-right">
        <img src="{% static 'images/retro-earth.svg' %}" alt="Retro Globe" class="header-globe-img">
    </div>
</header>
